@keyframes moveUpAndFade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.emoji-animate {
  animation: moveUpAndFade 2s ease-out forwards;
}